<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-list>
    <form>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input
          [(ngModel)]="user.email"
          name="email"
          type="text"
          autocapitalize="off"
          required
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Contraseña</ion-label>
        <ion-input
          [(ngModel)]="user.password"
          name="password"
          type="password"
          required
        >
        </ion-input>
      </ion-item>
      <div padding>
        <ion-button (click)="login()" expand="block">Iniciar</ion-button>
        <ion-button expand="block" color="secondary" href="/register" routerDirection="forward">Registrarse</ion-button>
      </div>
    </form>
  </ion-list>
</ion-content>

