<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
 
    <ng-container *ngIf="!pedidos || pedidos.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
 
    <ion-item-sliding *ngFor="let item of pedidos">
      <ion-item lines="inset" (click)="gotoDetail(item.id)">
        <ion-label>
          {{ item.numero }} - {{item.estado}} 
          <p>{{ item.createdAt | date: 'dd/MM/yyyy'}}</p>
        </ion-label>
        <ion-note slot="end" color="primary">{{ item.proveedor.nombre }}</ion-note>
      </ion-item>
 
      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="danger">
          <ion-icon name="ios-trash" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
 
  </ion-list>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="gotoDetail()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>