<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Proveedor - Detalle</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="Nombre" [(ngModel)]="proveedor.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="email" placeholder="Email" [(ngModel)]="proveedor.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="Teléfono" [(ngModel)]="proveedor.telefono"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveProveedor()">Guardar</ion-button>
</ion-content>