<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedido - {{pedido.numero}}</ion-title>
    <ion-buttons slot="end">
          <ion-icon (click)="sendWS()" color="success" size="large" name="logo-whatsapp"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-label>Proveedor</ion-label>
      <ionic-selectable 
      [(ngModel)]="pedido.proveedor" 
      itemValueField="id" 
      itemTextField="nombre" 
        [items]="proveedores" [canSearch]="true" (onChange)="portChange($event)">
        <ng-template ionicSelectableItemTemplate let-proveedor="item">
          <ion-label>
            {{proveedor.nombre}} - {{proveedor.telefono}}
          </ion-label>
        </ng-template>
      </ionic-selectable>     
  </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="savePedido()">Guardar</ion-button>
</ion-content>